mupdf/**/* filter=lfs diff=lfs merge=lfs -text
build/**/* filter=lfs diff=lfs merge=lfs -text
mupdf/docs/logo filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/makenoto.py filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/cmapflatten.py filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/gitsetup.sh filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/makesubset.py filter=lfs diff=lfs merge=lfs -text
mupdf/resources/README filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/8859-7.TXT filter=lfs diff=lfs merge=lfs -text
mupdf/include/mupdf filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/fontdump.nmake filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/freetype filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/MES-2.TXT filter=lfs diff=lfs merge=lfs -text
mupdf/build/vita filter=lfs diff=lfs merge=lfs -text
mupdf/docs/coding-style.html filter=lfs diff=lfs merge=lfs -text
mupdf/docs/ecosystem.html filter=lfs diff=lfs merge=lfs -text
mupdf/docs/manual-mupdf-gl.html filter=lfs diff=lfs merge=lfs -text
mupdf/docs/manual-mutool-extract.html filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/CP1252.TXT filter=lfs diff=lfs merge=lfs -text
mupdf/source/cbz filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/tesseract.txt filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/runcmapdump.sh filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/WGL4.TXT filter=lfs diff=lfs merge=lfs -text
mupdf/source/html filter=lfs diff=lfs merge=lfs -text
mupdf/source/pdf filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/openjpeg filter=lfs diff=lfs merge=lfs -text
mupdf/docs/manual-mutool-convert.html filter=lfs diff=lfs merge=lfs -text
mupdf/docs/thirdparty.html filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/CP1250.TXT filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/githooks filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/jbig2dec filter=lfs diff=lfs merge=lfs -text
mupdf/platform/win32 filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/destatic.sh filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/tesseract filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/glyphdump.py filter=lfs diff=lfs merge=lfs -text
mupdf/docs/coding-overview.html filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/mujs filter=lfs diff=lfs merge=lfs -text
mupdf/resources/icc filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/8859-1.TXT filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/find-blanks.awk filter=lfs diff=lfs merge=lfs -text
mupdf/docs/manual-mutool-trace.html filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/mutool_draw.py filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/syncdocs.sh filter=lfs diff=lfs merge=lfs -text
mupdf/source/fitz filter=lfs diff=lfs merge=lfs -text
mupdf/docs/style.css filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/hexdump.c filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/mupdfwrap.py filter=lfs diff=lfs merge=lfs -text
mupdf/docs/man filter=lfs diff=lfs merge=lfs -text
mupdf/docs/manual-mutool-show.html filter=lfs diff=lfs merge=lfs -text
mupdf/platform/java filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/cmapcleanx.c filter=lfs diff=lfs merge=lfs -text
mupdf/docs/coding-progressive.html filter=lfs diff=lfs merge=lfs -text
mupdf/resources/certs filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/cmapdump.py filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/SECS.TXT filter=lfs diff=lfs merge=lfs -text
mupdf/docs/api filter=lfs diff=lfs merge=lfs -text
mupdf/generated/resources filter=lfs diff=lfs merge=lfs -text
mupdf/resources/cmaps filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/gumbo-parser filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/lcms2 filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/KOI8-U.TXT filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/runcmapshare.sh filter=lfs diff=lfs merge=lfs -text
mupdf/source/helpers filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/libjpeg filter=lfs diff=lfs merge=lfs -text
mupdf/docs/template.html filter=lfs diff=lfs merge=lfs -text
mupdf/platform/wasm filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/runiccdump.sh filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/runjsdump.sh filter=lfs diff=lfs merge=lfs -text
mupdf/docs/manual-mutool-run.html filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/cmapclean.py filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/cmapcleanz.c filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/cmapshare.py filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/restatic.sh filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/harfbuzz filter=lfs diff=lfs merge=lfs -text
mupdf/platform/gl filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/mutool.py filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/freetype filter=lfs diff=lfs merge=lfs -text
mupdf/docs/ecosystem.png filter=lfs diff=lfs merge=lfs -text
mupdf/source/xps filter=lfs diff=lfs merge=lfs -text
mupdf/build/switch filter=lfs diff=lfs merge=lfs -text
mupdf/docs/manual-mutool-clean.html filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/libjpeg filter=lfs diff=lfs merge=lfs -text
mupdf/source/tools filter=lfs diff=lfs merge=lfs -text
mupdf/docs/manual-mutool-draw.html filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/jlib.py filter=lfs diff=lfs merge=lfs -text
mupdf/docs/android-sdk.html filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/bin2coff.c filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/makeencoding.py filter=lfs diff=lfs merge=lfs -text
mupdf/source/tests filter=lfs diff=lfs merge=lfs -text
mupdf/docs/examples filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/archive.sh filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/mupdfwrap_test.py filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/curl filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/zlib filter=lfs diff=lfs merge=lfs -text
mupdf/docs/artifex-logo.png filter=lfs diff=lfs merge=lfs -text
mupdf/docs/ecosystem.dot filter=lfs diff=lfs merge=lfs -text
mupdf/docs/index.html filter=lfs diff=lfs merge=lfs -text
mupdf/docs/manual-mutool-create.html filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/runfontdump.sh filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/texglyphlist.txt filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/CP1251.TXT filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/glyphlist.txt filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/jsdump.sed filter=lfs diff=lfs merge=lfs -text
mupdf/source/svg filter=lfs diff=lfs merge=lfs -text
mupdf/scripts/findunused.sh filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/README filter=lfs diff=lfs merge=lfs -text
mupdf/docs/building.html filter=lfs diff=lfs merge=lfs -text
mupdf/docs/manual-mutool-merge.html filter=lfs diff=lfs merge=lfs -text
mupdf/platform/x11 filter=lfs diff=lfs merge=lfs -text
mupdf/resources/fonts filter=lfs diff=lfs merge=lfs -text
mupdf/thirdparty/freeglut filter=lfs diff=lfs merge=lfs -text
